ul, li {
    list-style: none;
    padding: 0;
    margin: 0;
}
.my-container{
    position: relative;
}
.header{
    padding: 15px 0;
    box-shadow: 0 2px 10px #1c1a1926;
}
.heade__container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}
.heade__logo{
    max-width: 190px;
}
.header__wrap{
    display: flex;
    gap: 10px;
}
.header__icon{
    width: 40px;
    height: 40px;
    padding: 6px 8px;
    background-color: rgba(0, 150, 63, 0);
    border-radius: 50px;
    fill: rgb(2, 84, 36);
    transition: all 0.2s;
}
.header__icon:hover{
    background-color: rgba(0, 150, 63, 0.2);
}
.main__bg{
    background: rgba(0, 150, 63, 0.1);
    padding-top: 20px;
    height: 1000px;
}

.my-nav span{
    display: block;
    text-align: center;
}
.my-nav a{
    color: black;
    display: block;
}
.nav__list{
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.nav__punct{
    margin: 0 auto;
    border-radius: 5px;
    
}
.nav__punct:hover{
    background: rgba(255, 255, 255, 0.7);
}
.nav__punct_active{
    background: #fff;   
}
.nav__cantry{
    padding: 10px 0;
    
}
.nav__cantry img{
    display: block;
    max-width: 40px;
    margin: 0 auto;
    margin-bottom: 7px;
}
.my-nav{
    background: rgba(255, 255, 255, 0.3);
    padding: 2px;
    box-shadow: 0 2px 10px #1c1a1926;
    border-radius: 5px;
    max-width: 100px;
    display: block;
    position: absolute;
}

.nav__btn{
    display: flex;
    flex-direction: column;
    padding: 10px 10px;
}
.nav__btn::after{
    position: absolute;
    right: 5px;
    top: 5px;
}

h1{
    text-align: center;
    margin-top: 40px;
}
.content{
    margin-left: 150px;
    margin-top: 25px;
}
