ul, li {
    list-style: none;
    padding: 0;
    margin: 0;
}
.my-container{
    position: relative;
}
.header{
    padding: 15px 0;
    box-shadow: 0 2px 10px #1c1a1926;
}
.heade__container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}
.heade__logo{
    max-width: 190px;
}
.header__wrap{
    display: flex;
    gap: 10px;
}
.header__icon{
    width: 40px;
    height: 40px;
    padding: 6px 8px;
    background-color: rgba(0, 150, 63, 0);
    border-radius: 50px;
    fill: rgb(2, 84, 36);
    transition: all 0.2s;
}
.header__icon:hover{
    background-color: rgba(0, 150, 63, 0.2);
}
.main__bg{
    background: rgba(0, 150, 63, 0.1);
    padding-top: 20px;
    padding-bottom: 80px;
    min-height: 100vh;
}

.my-nav span{
    display: block;
    text-align: center;
}
.my-nav a{
    color: black;
    display: block;
}
.nav__list{
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.nav__punct{
    margin: 0 auto;
    border-radius: 5px;
    
}
.nav__punct:hover{
    background: rgba(255, 255, 255, 0.7);
}
.nav__punct_active{
    background: #fff;   
}
.nav__cantry{
    padding: 10px 0;
    
}
.nav__cantry img{
    display: block;
    max-width: 40px;
    margin: 0 auto;
    margin-bottom: 7px;
}
.my-nav{
    background: rgba(255, 255, 255, 0.3);
    padding: 2px;
    box-shadow: 0 2px 10px #1c1a1926;
    border-radius: 5px;
    max-width: 100px;
    display: block;
    position: absolute;
}

.nav__btn{
    display: flex;
    flex-direction: column;
    padding: 10px 10px;
}
.nav__btn::after{
    position: absolute;
    right: 5px;
    top: 5px;
}

h1{
    text-align: center;
    margin-top: 40px;
}
.debag-container{
    height: 0;
}
.post{
    width: 85%;
    margin-right: 0;
    margin-left: auto;
    margin-top: 40px;
    background: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 10px #1c1a1926;
    padding: 40px 40px;
    
}
.post h2{
    text-align: center;
    font-size: 27px;
    margin: 30px;
}
.post p{
    margin-bottom: 20px;
    font-size: 15px;
}
.post ul{
    margin-left: 40px;
    
}
.post ul li{
    list-style: inside;
    margin-bottom: 10px;
}
.post ol li{
    margin-bottom: 10px;
    list-style-type: decimal;
}
.ff-bold{
    font-weight: bold;
}


.footer{
    padding: 40px 0;
    background: rgba(0, 150, 63, 0.3);
    box-shadow: 0 2px 10px #00000026;
}

.footer__logo{
    max-width: 200px;
}
.footer__wrap{
    display: flex;
    justify-content: center;
}
.title-foto{
    width: 100%;
}
h1{
    margin-bottom: 50px;
}

.video{
    width: 100%;
    margin-bottom: 30px;
}